@charset "UTF-8";


table{
	width:80%;
	height:300px;
}

table tr td{
	border:0.5px solid gray;
	}
table tr .menu{
	width:20%;
	text-align:center;
	background-color: #99d280;
	font-size:1.2em;
	font-weight:bold;
}
table tr .menu2{
	padding-left:20px;
}
	
.table_btn{
	text-align:center;
	margin:20px 0;	
}

.table_btn input{
	width:80px;
	background-color: #99d280;
	border:0.5px solid gray;
	padding:5px;
	margin-left:1%;
	font-weight:bold;
}