@charset "UTF-8";



#page_name{
	width:500px;
	margin:auto;
	margin-top:50px;
}

h1{
	text-align:center;
	font-size:30px;
	
}

.box{
	margin:auto;
	width:1000px;
	margin-top:50px;
	margin-bottom:50px;
}

table{
  	border: 1px solid #ffffff;
  	border-top: 1px solid #dadada;
    border-spacing: 1px;
    height: 300px;
   
}

.menu{
    text-align: center;
    font-weight: bold;
}
}

.menu2{
	padding:10px;
	width:300px;
}
.modify{
	display:block;
	width:200px;
	padding:0.375rem 0.75rem;
	font-size:1rem;
	line-height:1.0;
	border: 1px solid #ced4da;
	border-radius: 0.5rem;
}

.button{
	padding:7px;
}

tr, td {
    border-bottom: 1px solid #dadada;
    padding: 10px;
  }
